.container {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.light {
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  border-color: #000000;
  border-width: 2px;
  border-style: solid;
}
.dark {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
.heading {
    font-size: 28px;
    font-weight: bold;
    font-family: "Roboto"
}
.button {
    height: 40px;
    width: 100px;
}
